@import "tailwindcss";

@font-face {
  font-family: "Euclid-Circular-B";
  src: url("../public/fonts/Euclid-Circular-B.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Euclid-Circular-B", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

}
